@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ecf2eb;
    height: 100vh;
}




.card {
    /* margin-right: calc(1.5rem * 1);
margin-left: calc(1.5rem * calc(1 - 1)); */
}